/* Yes, this is the font from Columbo. Jealous?? */
@font-face {
    font-family: folioBold;
    src: url(../foliobold.ttf);
}

body {
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.gameButton {
    font-family: folioBold;
    text-shadow: 2px 2px #5F4B1B;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.gameButton.left {
    float: left;
}
.gameButton.right {
    float: right;
}
.gameButton:hover {
    color: #5F4B1B !important;
}

#titleImage {
    cursor: pointer;
}

#gameScreen #currentPuppy {
    margin: 20px auto;
    width: 520px;
    height: 520px;
    background: url(../walk.gif) no-repeat center center;
    background-size: 200px 199px;
}
#gameScreen #currentPuppy img {
    width: 521px;
    display: none;
    cursor: pointer;
}
#gameScreen .buttons {
    margin: 0 auto;
    width: 521px;
    background-color: #EEBC44;
    border-top: 8px solid #5F4B1B;
    border-left: 8px solid #5F4B1B;
    padding: 5px;
}
#gameScreen.titleScreen .buttons {
    display: none;
}
#gameScreen .gameInfo {
    font-family: folioBold;
    text-shadow: 2px 2px #5F4B1B;
    font-size: 30px;
    color: white;
}

#gameBoard {
    margin: 20px auto;
    width: 521px;
    height: 520px;
    position: relative;
}

.emptyTile {
    background-color: white;
    background-image: none !important;
}
.normalTile {
    background-color: violet;
    border: 1px solid white;
}
